<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,241},{145,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,88}</string>
			</dict>
			<key>res/backbtn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,700},{144,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,87}</string>
			</dict>
			<key>res/ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,415},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/ban.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,534},{187,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,70}</string>
			</dict>
			<key>res/heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,717},{101,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>res/homebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,333},{145,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,88}</string>
			</dict>
			<key>res/homebtn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,517},{144,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,88}</string>
			</dict>
			<key>res/pausebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,609},{145,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,87}</string>
			</dict>
			<key>res/pausebtn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,626},{145,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,87}</string>
			</dict>
			<key>res/ready_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,717},{74,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,147}</string>
			</dict>
			<key>res/ready_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,241},{147,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,143}</string>
			</dict>
			<key>res/ready_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,388},{147,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,142}</string>
			</dict>
			<key>res/ready_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{275,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,146}</string>
			</dict>
			<key>res/splaybtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,534},{144,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,88}</string>
			</dict>
			<key>res/splaybtn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,425},{145,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,88}</string>
			</dict>
			<key>res/startbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,415},{318,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,97}</string>
			</dict>
			<key>res/startbtn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,415},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>res/txt_more_speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,152},{261,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,85}</string>
			</dict>
			<key>res/txt_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,816},{319,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,84}</string>
			</dict>
			<key>res/colorbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,2},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/txt_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,609},{614,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{614,192}</string>
			</dict>
			<key>res/desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{720,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,409}</string>
			</dict>
			<key>res/bigline.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,534},{493,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,30}</string>
			</dict>
			<key>res/bigcir.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,608},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>res.png</string>
			<key>realTextureFileName</key>
			<string>res.png</string>
			<key>size</key>
			<string>{1024,902}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>902</integer>
		</dict>
	</dict>
</plist>